table{border-collapse: collapse;width: 100%;}
table tr td{padding: 0.5rem;}
table thead td, th{font-weight: bold;}
table tbody tr:nth-of-type(odd){background: plum;}

.top, .bottom, .mid > div {background: lavender; margin: 0.25rem; padding: 0.5rem;}

.mid{ display: flex; flex-direction: row; }

/* .float-left{float: left; width: 15%;margin: 0.25rem;}
.float-right{float:right; width: 15%;margin: 0.25rem;} */

.float-left, .float-right{width: 15%; margin: 0.25rem;}
.centered{width: 70%;}


