
.top, .bottom{background: purple;}
.mid div{background: purple;}
.mid div:first-child, .mid div:last-child{background: gold;}
@media ( max-width:992px ){
    .top, .bottom{background: palevioletred;}
    .mid div{background: palevioletred;}
    .mid div:first-child, .mid div:last-child{background: yellow;}
}
@media ( max-width:768px ){
    .top, .bottom{background: plum;}
    .mid div{background: plum;}
    .mid div:first-child, .mid div:last-child{background: lemonchiffon;}
}
@media ( max-width:576px ){
    .top, .bottom{background: lavender;}
    .mid div{background: lavender;}
    .mid div:first-child, .mid div:last-child{background: lightyellow;}
}